<p class="mail">
  	<%=@email.object%></br>
  	<%=@email.body%></br>
  	<%=link_to 'supr' ,email_path(@email),method:'delete',class:'button btn-danger',remote:true%>
 
  		<%=link_to 'marquer comme non lue',email_path(@email),class:'button btn-secondary',method:'put',remote:true%>
  
  		<%=link_to 'marquer comme lue',email_path(@email),class:'button btn-success new',method:'put',remote:true%>

</p>